<link rel="stylesheet" type="text/css" href="http://localhost:8001/style-vis.css"/>
<!-- <script type="text/javascript" src="http://localhost:8001/client/lib/head.load.min.js"></script>

 <script type="text/javascript">
  var bratLocation = 'http://localhost:8001/';

  head.js(
      // External libraries
      bratLocation + '/client/lib/jquery.min.js',
      bratLocation + '/client/lib/jquery.svg.min.js',
      bratLocation + '/client/lib/jquery.svgdom.min.js',

      // brat helper modules
      bratLocation + '/client/src/configuration.js',
      bratLocation + '/client/src/util.js',
      bratLocation + '/client/src/annotation_log.js',
      bratLocation + '/client/lib/webfont.js',

      // brat modules
      bratLocation + '/client/src/dispatcher.js',
      bratLocation + '/client/src/url_monitor.js',
      bratLocation + '/client/src/visualizer.js'
  );
  var webFontURLs = [
      bratLocation + '/static/fonts/Astloch-Bold.ttf',
      bratLocation + '/static/fonts/PT_Sans-Caption-Web-Regular.ttf',
      bratLocation + '/static/fonts/Liberation_Sans-Regular.ttf'
  ];

  head.ready(function() {
      Util.embed(
          // id of the div element where brat should embed the visualisations
          'pipo',
          // object containing collection data
          collData,
          // object containing document data
          docData,
          // Array containing locations of the visualisation fonts
          webFontURLs
          );
  });


  var collData = {
        entity_types: [ {
                type   : 'Person',
                /* The labels are used when displaying the annotion, in this case
                    we also provide a short-hand "Per" for cases where
                    abbreviations are preferable */
                labels : ['Person', 'Per'],
                // Blue is a nice colour for a person?
                bgColor: '#7fa2ff',
                // Use a slightly darker version of the bgColor for the border
                borderColor: 'darken'
        } ]
    };


  var docData = {
        // Our text of choice
        text     : "Ed O'Kelley was the man who shot the man who shot Jesse James.",
        // The entities entry holds all entity annotations
        entities : [
            /* Format: [${ID}, ${TYPE}, [[${START}, ${END}]]]
                note that range of the offsets are [${START},${END}) */
            ['T1', 'Person', [[0, 11]]],
            ['T2', 'Person', [[20, 23]]],
            ['T3', 'Person', [[37, 40]]],
            ['T4', 'Person', [[50, 61]]],
        ],
    };


  collData['entity_attribute_types'] = [ {
      type  : 'Notorious',
      /* brat supports multi-valued attributes, but in our case we will only
          use a single value and add a glyph to the visualisation to indicate
          that the entity carries that attribute */
      values: { 'Notorious': { 'glyph': '★' } }
  } ];


  docData['attributes'] = [
      // Format: [${ID}, ${TYPE}, ${TARGET}]
      ['A1', 'Notorious', 'T4']
  ];

  collData['relation_types'] = [ {
      type     : 'Anaphora',
      labels   : ['Anaphora', 'Ana'],
      // dashArray allows you to adjust the style of the relation arc
      dashArray: '3,3',
      color    : 'purple',
      /* A relation takes two arguments, both are named and can be constrained
          as to which types they may apply to */
      args     : [
          //
          {role: 'Anaphor', targets: ['Person'] },
          {role: 'Entity',  targets: ['Person'] }
      ]
  } ];

  docData['relations'] = [
      // Format: [${ID}, ${TYPE}, [[${ARGNAME}, ${TARGET}], [${ARGNAME}, ${TARGET}]]]
      ['R1', 'Anaphora', [['Anaphor', 'T2'], ['Entity', 'T1']]]
  ];

  collData['event_types'] = [ {
      type   : 'Assassination',
      labels : ['Assassination', 'Assas'],
      bgColor: 'lightgreen',
      borderColor: 'darken',
      /* Unlike relations, events originate from a span of text and can take
          several arguments */
      arcs   : [
          {type: 'Victim', labels: ['Victim','Vict'] },
          // Just like the event itself, its arguments can be styled
          {type: 'Perpetrator', labels: ['Perpetrator','Perp'], color: 'green' }
      ]
  } ];


  /* Events also have trigger annotations, these are spans that are not
  visualised. This enables sharing of triggers when this is desirable, such
  as in the sentence "He robbed the bank and the post office", where
  "robbed" gives rice to two separate events that shares a single trigger */
  docData['triggers'] = [
  // The format is identical to that of entities
  ['T5', 'Assassination', [[45, 49]]],
  ['T6', 'Assassination', [[28, 32]]]
  ];

  docData['events'] = [
  // Format: [${ID}, ${TRIGGER}, [[${ARGTYPE}, ${ARGID}], ...]]
  ['E1', 'T5', [['Perpetrator', 'T3'], ['Victim', 'T4']]],
  ['E2', 'T6', [['Perpetrator', 'T2'], ['Victim', 'T3']]]
  ];


  </script> -->


<div>
  <button (click)="goBack()">Home</button>
</div>
<div id="data1"></div>
<div id="data2"></div>
<div *ngIf="document" class="documentName">
  <p>
      Manual Curation report: {{document.name}}
  </p>
  <div [innerHTML]="data"></div>

  <div class="w3-container">
  <table class="w3-table-all w3-card-4 overflow-y w3-centered findings">
      <thead>
                <tr>
                  <th></th>
                  <th>Finding</th>
                  <th>Study TestCD</th>
                  <th>Manifestation of Finding</th>
                  <th>Study Domain</th>
                  <th>Specimen </th>
                  <th>Sex</th>
                  <th>Dose</th>
                  <th>Group</th>
                  <th>Risk Level</th>
                  <th>is-treatment-related</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
            <tr *ngFor="let finding of document.findings" (click)="row_selectd = findingSelected(finding);" [class.myClass]="row_selectd">
              <td>{{finding.findingId}}</td>
              <td>
                  {{finding.finding? finding.finding.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.study_testcds" >{{e.text}}</option>
                </select> -->
                {{finding.study_testcd? finding.study_testcd.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.manifestations_finding" >{{e.text}}</option>
                </select> -->
                 {{finding.manifestation_finding? finding.manifestation_finding.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.study_domains" >{{e.text}}</option>
                </select> -->
                 <!-- {{finding.study_domain.text}} -->
                 {{finding.study_domain? finding.study_domain.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.specimens" >{{e.text}}</option>
                </select> -->
                {{finding.specimen? finding.specimen.value : ""}}
              </td>

              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.sexs" >{{e.text}}</option>
                </select> -->
                 <!-- {{finding.sex.text}} -->
                 {{finding.sex? finding.sex.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.dose_quantitys" >{{e.text}}</option>
                </select> -->
                 <!-- {{finding.dose_quantity.text}} -->
                 {{finding.dose? finding.dose.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.study_domains" >{{e.text}}</option>
                </select> -->
                 <!-- {{finding.study_domain.text}} -->
                 {{finding.group? finding.group.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.risk_levels" >{{e.text}}</option>
                </select> -->
                {{finding.risk_level? finding.risk_level.value : ""}}
              </td>
              <td>
                <!-- <select>
                  <option>None</option>
                  <option *ngFor="let e of finding.no_treatment_related_triggers" >{{e.text}}</option>
                </select> -->
                 <!-- {{finding.no_treatment_related_trigger.text}} -->
                 {{finding.is_treatment_related? finding.is_treatment_related.value : ""}}
              </td>

             <td>
                  <a href="#" class="button">Okey</a>
              </td>
              <td>
                  <a href="#" class="button">Delete</a>
              </td>
            </tr>
          </table>
        </div>
        <!-- <table mat-table [dataSource]="document.findings" class="mat-elevation-z8"> -->

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->

            <!-- <td *ngFor="let fi of element.finding_fields" mat-cell *matCellDef="let element"> {{fi}} </td> -->

            <!-- <ng-container matColumnDef="Finding Id">
              <th mat-header-cell *matHeaderCellDef> Finding Id </th>
              <td mat-cell *matCellDef="let element"> {{element.findingId}} </td>
            </ng-container>

            <ng-container matColumnDef="Finding">
                <th mat-header-cell *matHeaderCellDef> Finding </th>
                <td mat-cell *matCellDef="let element"> {{element.findings[0].text || 'Nothing' }} </td>
            </ng-container>

            <ng-container matColumnDef="Specimen">
              <th mat-header-cell *matHeaderCellDef> Specimen </th>
              <td mat-cell *matCellDef="let element">
                <mat-select id="mySelectId">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let specimen of element.specimens" [value]="specimen.text">
                      {{specimen.text}}
                    </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->

      <!-- <ul class="documents">
        <li *ngFor="let finding of document.findings" (click)="onSelectFinding(finding)">
            {{finding.findingId}}
            <ul class="finding">
                <li *ngFor="let annotation of finding.finding_fields">
                    {{annotation.text}}
                    {{annotation.startOffset}}
                    {{annotation.endOffset}}
                    <ul class="annotation">
                        <li *ngFor="let feature of annotation.features">
                            {{feature.name}}
                            {{feature.value}}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul> -->

</div>
