table.findings td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.row_selectd{
  color: #FF0000;
}

.documentName{
  color: black;
  size: 100%;
}
table.findings tr:hover {
   color: blue;
   cursor: pointer;
}
/*Clases for Labels*/
.class_a{
  font-weight: bold;
  border-bottom: 5px solid red;
}
.class_b{
  font-weight: bold;
  border-bottom: 5px solid blue;
}
.class_c{
  font-weight: bold;
  border-bottom: 5px solid green;
}
.class_d{
  font-weight: bold;
  border-bottom: 5px solid   yellow;
}
.class_e{
  font-weight: bold;
  border-bottom: 5px solid red;
}
.class_f{
  background-color: fuchsia;
  color: #fff
}
.class_g{
  font-weight: bold;
  border-bottom: 5px solid  rgb(42, 165, 69);
}
.class_h{
  font-weight: bold;
  border-bottom: 5px solid rgb(60, 180, 170);
}
.class_i{
  font-weight: bold;
  border-bottom: 5px solid   rgb(226, 96, 73);
}
.class_j{
  font-weight: bold;
  border-bottom: 5px solid   rgb(226, 96, 73);
}
.class_j{
  font-weight: bold;
  border-bottom: 5px solid  rgb(226, 96, 73);
}
.class_l{
  font-weight: bold;
  border-bottom: 5px solid   black;
}
.class_z{
  background-color: black;
  color: #fff
}
.relevant_text{
  background-color: rgb(217, 224, 245);
  color:black;
}
/* DocumentDetailComponent's private CSS styles */
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
 /* The container must be positioned relative: */
 .custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.sourcesClass{
  /*border-left:4px solid dodgerblue;*/
  padding: 5px;
  font-size: 12px;

}

.annotationTypeClass{
  font-size: 12px;
  text-align: center;
}

.cdiscClass{
  border-left:4px solid rgb(13, 9, 238);
  padding: 5px;
  background-color: rgb(164, 179, 248);
}
.etoxClass{
  /* background-color: tomato; */
  border-left:4px solid #FF0000;
  padding: 5px;
  background-color: rgb(255, 158, 158);
}
.umlsClass{
  /* background-color:violet; */
  border-left:4px solid rgb(247, 0, 255);
  padding: 5px;
  background-color: rgb(243, 195, 255);
}

.dnormClass{
  /* background-color:violet; */
  border-left:4px solid rgb(1, 173, 102);
  padding: 5px;
  background-color: rgb(125, 173, 153);
}

.limtoxClass{
  /* background-color:violet; */
  border-left:4px solid rgb(240, 157, 5);
  padding: 5px;
  background-color: rgb(240, 207, 146)
}

.myontologyClass{
  /* background-color:violet; */
  border-left:4px solid rgb(255, 238, 0);
  padding: 5px;
  background-color: rgb(247, 244, 210)
}

.tooltip_finding{
  display:none;
  position:absolute;
  background-color: whitesmoke;
  color:black;
  /* border-radius: 20px; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
}



